.send-page{
  section#front{
    height: auto;
    transition: all 500ms;
  }
}
#final-card{
  text-align: center;
  font-size: 0;
  
  &>div{
    display: inline-block;
    vertical-align: top;
    width: 380px;
    height: 380px;
    @media screen and (max-width: @mobile){
      width: 320px;
      height: 320px;
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
}
.choose-send{
  padding-bottom: 60px;
  h2{
    padding-top: 20px;
  }
  .share-block{
    margin-bottom: 80px;
    input{
      margin-right: 20px;
      width: 380px;
      @media screen and (max-width: @mobile){
        width: 300px;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .email-block{
    margin-bottom: 80px;
    input{
      width: 300px;
      margin-bottom: 25px;
    }
    .capcha{
      margin-bottom: 25px;
    }
  }
  .mail-block{
    margin: auto;
    margin-bottom: 40px;
    width: 640px;
    @media screen and (max-width: @mobile){
      width: 100%;
    }
    .mail-data{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      input{
        float: left;
        @media screen and (max-width: @mobile){
          margin-bottom: 10px;
          float: none;
          display: block;
          margin: auto;
        }
      }
    }
    .names{
      input{
        width: 300px;
        margin: 10px;
        @media screen and (max-width: @mobile){
          margin-left: auto;
          margin-right: auto;
          
        }
      }
    }
    .address{
      input{
        width: 140px;
        margin: 10px;
        @media screen and (max-width: @mobile){
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
        &:last-child{
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .send-by-post{
      text-align: right;
    }
    .index-link{
      text-align: left;
      padding-left: 10px;
    }
    .agreement{
      width: 300px;
      text-align: left;
      padding-left: 10px;
      .descr{
        font-size: 12px !important;
      }
    }
  }
  .finish-him{
    margin-top: 30px;
    a:hover{
      text-decoration: none;
    }
    .btn{
      display: inline-block;
      margin: 0 10px 20px;
      // margin-bottom: 20px;
    }
  }
  .to-message{
    position: absolute;
    left: 40px;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: @blue;
    &:hover{
      text-decoration: underline;
    }
  }
}
.tabs{
  .pagination{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    width: 100%;
    box-shadow: 0px 7px 8.37px 0.63px rgba(33, 33, 33, 0.16);
    margin-top: 50px;
    flex-wrap: wrap;
    @media screen and (max-width: @mobile){
      box-shadow: none;
    }
  }
  .tab-content{
    display: none;
    @media screen and (max-width: @mobile){
      width: 100%;
      padding: 0 10px;
    }
  }
  .item{
    width: 100% /3;
    text-align: center;
    padding: 36px 0;
    background-color: @green;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms;
    line-height: 1;
    position: relative;
    @media screen and (max-width: @mobile){
      width: 100%;
      margin-bottom: 10px;
    }
    &:after{
      @size: 30px;
      content: '';
      display: inline-block;
      width: @size;
      height: @size;
      background-color: @green-dark;
      position: absolute;
      bottom: 0px;
      opacity: 0;
      margin: auto;
      left: 0;
      right: 0;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      transition: all 300ms;
    }
    &:hover{
      background-color: @green-dark;
    }
    &.active{
      background-color: @green-dark;
      color: white;
      @media screen and (max-width: @mobile){
        order: 10;
      }
      &:after{
        bottom: -10px;
        opacity: 1;
      }
    }
  }
}

.contest-block{
  margin-top: 20px;
  background-color: #61bb46;
  color: white;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  // temp
  
  &>div{
    width: 25%;
    min-height: 1px;
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
  .label{
    font-size: 24px;
    font-weight: 700;
  }
  .left{
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../img/svg/bg-right.svg);
  }
  .right{
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../img/svg/bg-left.svg);
  }
  .center{
    width: 50%;
    text-align: center;
    padding-bottom: 50px;
    @media screen and (max-width: @mobile){
      width: 100%;
      display: block;
    }
  }
  .context-logo{
    padding: 60px 0 30px;
    text-align: center;
    &>div{
      margin: auto;
    }
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.items-width(@amount){
  width: 100%/@amount;
  @media screen and (max-width: @mobile){
    width: 100%;
  }
}

.grid-with-label{
  text-align: center;
  margin-bottom: 40px;
  .items{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: center;
    @media screen and (max-width: @mobile){
      flex-wrap: wrap;
    }
  }
  .items-2 .item{
    .items-width(2);
  }
  .items-3 .item{
    .items-width(3);
  }
  .item{
    flex-grow: 1;
    padding: 10px;
    @media screen and (max-width: @mobile){
      margin-bottom: 20px;
    }
  }
  .it-img div{
    margin: auto;
    margin-bottom: 15px;
  }
}
