.send-page{
  section#front{
    height: auto;
    transition: all 500ms;
  }
}
#final-card{
  text-align: center;
  font-size: 0;
  &>div{
    display: inline-block;
    vertical-align: top;
  }
  img{
    width: auto;
    margin: auto;
  }
}
.choose-send{
  padding-bottom: 60px;
  .share-block{
    margin-bottom: 80px;
    input{
      margin-right: 20px;
      width: 380px;
    }
  }
  .email-block{
    margin-bottom: 80px;
    input{
      width: 300px;
      margin-bottom: 25px;
    }
    .capcha{
      margin-bottom: 25px;
    }
  }
  .mail-block{
    margin: auto;
    margin-bottom: 40px;
    width: 640px;
    .mail-data{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      input{
        float: left;
      }
    }
    .names{
      input{
        width: 300px;
        margin: 10px;
      }
    }
    .address{
      input{
        width: 140px;
        margin: 10px;
        &:last-child{
          width: 300px;
        }
      }
    }
    .send-by-post{
      text-align: right;
    }
    .index-link{
      text-align: left;
      padding-left: 10px;
    }
    .agreement{
      width: 300px;
      text-align: left;
      padding-left: 10px;
      .descr{
        font-size: 12px !important;
      }
    }
  }
  .finish-him{
    margin-top: 30px;
    a:hover{
      text-decoration: none;
    }
    .btn{
      display: inline-block;
      margin: 0 10px 20px;
      // margin-bottom: 20px;
    }
  }
  .to-message{
    position: absolute;
    left: 40px;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: @blue;
    &:hover{
      text-decoration: underline;
    }
  }
}
.tabs{
  .pagination{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    width: 100%;
    box-shadow: 0px 7px 8.37px 0.63px rgba(33, 33, 33, 0.16);
    margin-top: 50px;
  }
  .tab-content{
    display: none;
  }
  .item{
    width: 100% /3;
    text-align: center;
    padding: 36px 0;
    background-color: @green;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms;
    line-height: 1;
    position: relative;
    &:after{
      @size: 30px;
      content: '';
      display: inline-block;
      width: @size;
      height: @size;
      background-color: @green-dark;
      position: absolute;
      bottom: 0px;
      opacity: 0;
      margin: auto;
      left: 0;
      right: 0;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      transition: all 300ms;
    }
    &:hover{
      background-color: @green-dark;
    }
    &.active{
      background-color: @green-dark;
      color: white;
      &:after{
        bottom: -10px;
        opacity: 1;
      }
    }
  }
}

