.send-page{
  section#front{
    height: auto;
    transition: all 500ms;
  }
}
#final-card{
  text-align: center;
  font-size: 0;
  &>div{
    display: inline-block;
    vertical-align: top;
  }
  img{
    width: auto;
    margin: auto;
  }
}
.choose-send{
  padding-bottom: 60px;
  .share-block{
    margin-bottom: 80px;
    input{
      margin-right: 20px;
      width: 380px;
    }
  }
  .email-block{
    margin-bottom: 80px;
    input{
      width: 300px;
      margin-bottom: 25px;
    }
    .capcha{
      margin-bottom: 25px;
    }
  }
  .mail-block{
    margin: auto;
    margin-bottom: 40px;
    width: 640px;
    .mail-data{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      input{
        float: left;
      }
    }
    .names{
      input{
        width: 300px;
        margin: 10px;
      }
    }
    .address{
      input{
        width: 140px;
        margin: 10px;
        &:last-child{
          width: 300px;
        }
      }
    }
    .send-by-post{
      text-align: right;
    }
    .index-link{
      text-align: left;
      padding-left: 10px;
    }
    .agreement{
      width: 300px;
      text-align: left;
      padding-left: 10px;
      .descr{
        font-size: 12px !important;
      }
    }
  }
  .finish-him{
    a:hover{
      text-decoration: none;
    }
    .btn{
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .to-message{
    position: absolute;
    left: 40px;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: @blue;
    &:hover{
      text-decoration: underline;
    }
  }
}