.choose-toys{
  padding: 40px 40px 0;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  .to-tree{
    position: absolute;
    left: 40px;
    top: 0px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
  }
  .clear-all{
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
    color: @green;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
  }
  .selector{
    text-align: left;
    margin-bottom: 35px;
    &>div{
      display: inline-block;
      vertical-align: top;
    }
  }
  .label{
    font-weight: 700;
    // color: @blue;
    margin-right: 80px;
    width: 160px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .controls, .card{
    width: 60%;
    float: left;
  }
  .card{
    // width: 40%;
    position: relative;
    overflow: hidden;
    max-width: 380px;
    canvas{
      z-index: 1000;
    }
    .message{
      position: absolute;
      left: 0;
      top: 0;
      width: 380px;
      height: 380px;
      z-index: 1001;
      &:extend(.trall);
      &.ok{
        left: 380px;
      }
    }
    .card-backs{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 380px;
      height: 380px;
      img{
        position: absolute;
        left: 380px;
        top: 0;
        width: 100%;
        &:extend(.trall);
        transition-delay: 500ms;
        &.active{
          left: 0;
          transition-delay: 0ms;
        }
      }
    }
    .trash{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: @red;
      z-index: 999;
      &:extend(.trall);
      &:hover{
        background-color: @red-dark;
      }
      div{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }
  .items-slider{
    width: 240px;
    position: relative;
    text-align: center;
    height: 30px;
    .pic{
      width: 30px;
      height: 30px;
      margin: auto;
      img{
        height: 100%;
      }
    }
    .owl-next{
      position: absolute;
      top: 0;
      right: -40px;
    }
    .owl-prev{
      position: absolute;
      top: 0;
      left: -40px;
    }
  }
  .message{
    position: relative;
    .btn{
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 10px;
      z-index: 1000;

    }
  }
  .card-backgrounds{
    .radioo{
      display: inline-block;
      vertical-align: top;
      margin: 0 6px;
      cursor: pointer;
    }
    label{
      padding: 2px;
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      &:extend(.trall);
    }
    input:checked+label{
      // border: 2px solid @blue;
      border-color: @blue;
    }
    input{
      display: none;
    }
    img{
      width: 40px;
    }
  }
}