#tree-slider{
  width: 300px;
  margin: auto;
  @media screen and (max-height: @minh){
    width: 200px;
  }
  .owl-nav{
    text-align: center;
    &>div{
      display: inline-block;
      margin: 10px;
    }
  }
}
.choose-tree{
  h2{
    margin: 0;
    padding-top: 20px;
  }
  .btn{
    margin-top: 40px;
  }
}
#back-to-main{
  position: absolute;
  text-align: left;
  left: 40px;
  top: 0px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  color: @blue;
  &:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: @mobile){
    left: 15px;
    color: @green;
  }
}