.svg-sprite--text {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -2px;
    width: 501px;
    height: 96px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--korzina {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -100px;
    width: 172px;
    height: 169px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -176px -100px;
    width: 108px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--text_mob {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -286px -100px;
    width: 92px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fiber {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -271px;
    width: 24px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow_left {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -380px -100px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow_right {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -416px -100px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--sound_off {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -452px -100px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--sound_on {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -286px -157px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -318px -157px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fb {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -345px -157px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -372px -157px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--youtube {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -399px -157px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--trash {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -426px -157px;
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 505px 350px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}

