.svg-sprite--tree-2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -2px;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--tree-1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -384px -2px;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--tree-3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -384px;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--tree-4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -384px -384px;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -2px;
    width: 108px;
    height: 108px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fiber {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -112px;
    width: 24px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-13 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -792px -112px;
    width: 40px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-12 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -834px -112px;
    width: 40px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-11 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -192px;
    width: 40px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-10 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -808px -192px;
    width: 40px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -263px;
    width: 42px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-9 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -263px;
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-8 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -332px;
    width: 40px;
    height: 66px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-6 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -808px -332px;
    width: 40px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -400px;
    width: 42px;
    height: 63px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-5 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -400px;
    width: 42px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -464px;
    width: 42px;
    height: 57px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -464px;
    width: 42px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -523px;
    width: 42px;
    height: 53px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-7 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -523px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-6 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -577px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-9 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -577px;
    width: 41px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-8 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -629px;
    width: 41px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-10 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -809px -629px;
    width: 41px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-5 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -680px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -810px -680px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ball-2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -766px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-7 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -46px -766px;
    width: 42px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--toy-3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -89px -766px;
    width: 42px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -132px -766px;
    width: 42px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-7 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -175px -766px;
    width: 42px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -218px -766px;
    width: 42px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-5 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -261px -766px;
    width: 41px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -304px -766px;
    width: 41px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-8 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -347px -766px;
    width: 41px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-6 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -390px -766px;
    width: 41px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -432px -766px;
    width: 41px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-9 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -475px -766px;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--star-10 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -517px -766px;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow_right {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -559px -766px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow_left {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -595px -766px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -731px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fb {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -793px -731px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -820px -731px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--youtube {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -847px -731px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--trash {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -850px -192px;
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 876px 818px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}

